#container{
    margin: 20% 38%;
  cursor: pointer;
  }

  #result-screen {
    height: 80px; color: white;
    text-align: right;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    font-size:xx-large;
    font: monospace;
    background-color: black;
    padding: 12px;
   
  }